.signUp {
  display: flex;
  flex-direction: row-reverse;
}

.signUp-card {
  width: 40%;
  height: 100vh;
  background-color: white;
}

.image-signUp {
  width: 60%;
  height: 100vh; 
  background-image: url("../assets/images/webP-images/side-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
