@import url("../styles/media.css");

.root {
  display: flex;
  flex-direction: row-reverse;

  @media (--media-max-lg) {
    display: none;
  }
}

.signUp-card {
  width: 40%;
  height: 100vh;
  background-color: rgb(239, 237, 237);
}

.image-signUp {
  width: 60%;
  height: 100vh; 
  background-image: url("../assets/side_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
