@import url("./styles/base.css");
@import url("./styles/media.css");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-size-mammoth);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--spacing-em-xsmall) var(--spacing-em-normal);
  font-size: var(--font-size-normal);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
